/* 브라우저 전체 */
body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  font-family: sans-serif;
}

/* React root */
#root {
  width: 100%;
  height: 100vh;
}

/* 가운데 정렬 */
.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 핸드폰 화면 */
.phone_frame {
  width: 390px;
  height: 844px;

  background-color: white;

  border-radius: 30px;

  overflow: hidden;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  position: relative;
}
